@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FFD951;
  --background-hex:#FFFDEB;
  --foreground-text-hex:#000;
}


body {
  color: var(--foreground-text-hex);
}
